* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******COLORES Y FONDOS ******/
body {
    background-color: #A59FA3;
}


/******IMAGENES******/
.img-logo {
    display: block;
    width: 75px;
    height: auto;
}

/******* HEADER *******/

header nav,
header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
}

header nav ul {
    list-style: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}

header nav ul li a:hover {
    color: yellow;
    text-decoration: overline;
}


/******* FOOTER *******/

.footer-container {
    background-color: white;
    background-image: url(../assets/hogwarts-footer.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    min-height: 260px;
}



/******** SECCION LIBROS *******/
main .book-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

main .book-container:nth-child(even) {
    flex-direction: row-reverse;
}

main .book-container img {
    display: block;
    max-width: 250px;
    margin: 1.5rem 3rem;
}

main .book-container p {
    margin: 2rem;
    padding: 1.5rem;
}